body {
    background-color: #fafafa;
}

.breadcrumb {
    border: 1px solid #dddddd;
}

.vertical-center {
    position: absolute;
    display: inline-block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    text-align: center;
}

.box {
    margin: 1em 0;
    /* text-align: center; */
    /*box-shadow: 0 0 4px #cbcbcb;*/
    background-color: #fff;
    border: 1px solid #ecf0f1;
    border-radius: 4px;
    cursor: pointer;
    overflow: hidden;
}

.img-preview {
    height: 10em;
    background: #ecf0f1;
    overflow: hidden;

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 3;
    position: relative;
}

.img-preview > img {
    display: block;
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.box > .info {
    padding: 9px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.box > .info > .name {
    font-size: 1.3em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.box > .info > .description {
    color: #546E7A;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.box .img-preview:before {
    content: "\e029";

    position: absolute;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    font-size: 45px;
    padding: 6px 5px 4px;
    border-radius: 100%;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    background: #607D8B;
    color: #ECEFF1;

    transition: all .2s;
    opacity: .8;
    z-index: 2;
}

.box:hover .img-preview:before {
    opacity: .9;
}

.box .img-preview:after {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: black;
    opacity: 0;
    transition: opacity .2s;
}

.box:hover .img-preview:after {
    opacity: .2;
}

.thumbnail {
    padding: 0;
    overflow: hidden;
}

.thumbnail > .caption > .name {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.topic {
    margin: 1em 0;
    background-color: white;
    border-radius: 4px;
    padding: 1em;
    border: 1px solid #ecf0f1;
}

.topic h2 {
    margin-top: 0;
}

.video-js {
    width: 300px;
    height: 200px;
}

.vjs-poster {
    background-size: cover;
}

.vjs-modal {
    width: 100%;
    height: 360px;
    margin-left: auto;
    margin-right: auto;
}

#description {
    word-wrap: break-word;
}

#fave {
    transition: all 200ms;
}

#fave.btn-primary i {
    color: #FFC107;
}