body {
    background-color: #fafafa;
}

.breadcrumb {
    border: 1px solid #dddddd;
}

.vertical-center {
    position: absolute;
    display: inline-block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    text-align: center;
}

.box {
    margin: 1em 0;
    /* text-align: center; */
    box-shadow: 0 0 4px #cbcbcb;
    background-color: #fff;
    /*border: 1px solid #fafafa;*/
    cursor: pointer;
}

.img-preview {
    height: 10em;
    background: #ecf0f1;
    overflow: hidden;

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-preview > img {
    display: block;
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.box > .info {
    padding: 9px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.box > .info > .name {
    font-size: 1.3em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.box > .info > .description {
    color: #546E7A;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.thumbnail {
    padding: 0;
}

.thumbnail > .caption > .name {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.topic {
    margin: 2em 0;
}

.video-js {
    width: 300px;
    height: 200px;
}

.vjs-poster {
    background-size: cover;
}

.vjs-modal {
    width: 100%;
    height: 360px;
    margin-left: auto;
    margin-right: auto;
}

#fave {
    transition: all 200ms;
}

#fave.btn-primary i {
    color: #FFC107;
}